<h2>Transaction History</h2>
<table *ngIf="transactions.length > 0" style="border: 2px solid black;">
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Transaction Date</th>
        <th>Description</th>

    </tr>
    <tr *ngFor="let t of transactions">
        <td>{{t.id}}</td>
        <td>₹{{t.amount}}</td>
        <td>{{t.type}}</td>
        <td>{{t.transactionDate}}</td>
        <td>{{t.description}}</td>
    </tr>
</table>
<div *ngIf="transactions.length === 0">
    <p>No transactions found.</p>
</div>


<button (click)="download()" *ngIf="transactions.length > 0">Download Receipt</button>